.section {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.buttonAll {
  min-height: 34px;
  padding: 0 10px;
  font-size: 13px;
}

.subscriptionList {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
