.serviceIcon {
  display: grid;
  flex: 0 0 auto;
  place-items: center;
  border-radius: var(--radius-md);

  ion-icon {
    font-size: var(--service-icon-size);
  }
}

.sm {
  width: var(--icon-sm);
  height: var(--icon-sm);

  --service-icon-size: var(--space-9);
}

.md {
  width: var(--icon-md);
  height: var(--icon-md);

  --service-icon-size: var(--font-size-heading);
}

.lg {
  width: var(--icon-lg);
  height: var(--icon-lg);

  --service-icon-size: var(--font-size-heading);
}

.green {
  color: var(--color-brand-800);
  background: var(--color-brand-100);
}

.blue {
  color: var(--color-blue-700);
  background: var(--color-blue-100);
}

.violet {
  color: var(--color-violet-700);
  background: var(--color-violet-100);
}

.orange {
  color: var(--color-orange-700);
  background: var(--color-orange-100);
}

.red {
  color: var(--color-red-700);
  background: var(--color-red-100);
}

.cyan {
  color: var(--color-cyan-700);
  background: var(--color-cyan-100);
}

.pink {
  color: var(--color-pink-700);
  background: var(--color-pink-100);
}

.amber {
  color: var(--color-amber-700);
  background: var(--color-amber-100);
}

.indigo {
  color: var(--color-indigo-700);
  background: var(--color-indigo-100);
}

.slate {
  color: var(--color-slate-700);
  background: var(--color-slate-200);
}
