.summaryCard {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: var(--space-9);
  padding: var(--space-9);
  border-radius: var(--radius-md);
  color: var(--color-white);
  box-shadow: var(--shadow-summary);
}

.green {
  background: var(--gradient-summary-green);
  box-shadow: var(--shadow-summary-green);
}

.dark {
  background: var(--gradient-summary-dark);
}

.teal {
  background: var(--gradient-summary-teal);
}

.interactive {
  cursor: pointer;
}
