.iconButton {
  position: relative;
  width: var(--control-md);
  height: var(--control-md);
  min-height: var(--control-md);
  flex: 0 0 var(--control-md);
  margin: var(--space-0);

  --background: var(--color-slate-100);
  --background-hover: var(--color-slate-200);
  --border-radius: var(--radius-md);
  --box-shadow: var(--shadow-none);
  --color: var(--color-slate-900);
  --padding-bottom: var(--space-0);
  --padding-end: var(--space-0);
  --padding-start: var(--space-0);
  --padding-top: var(--space-0);

  ion-icon {
    font-size: var(--font-size-heading);
  }
}

.circle {
  --border-radius: var(--radius-round);
}

.badge {
  position: absolute;
  top: var(--space-3);
  right: var(--space-3);
  min-width: var(--space-8);
  min-height: var(--space-8);
  height: var(--space-8);
  padding: var(--space-0) var(--space-2);
  font-size: var(--font-size-caption);
}
