.tabs {
  background: white;
}

.tabBar {
  height: 70px;
  min-height: 70px;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0;

  --background: #ffffff;
  --border: 0;
  border-top: 0;
  box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.3);
  border-top-left-radius: 22px;
  border-top-right-radius: 22px;

  ion-tab-button {
    height: 100%;
    flex: 0 1 58px;

    --padding-top: 4px;
    --padding-bottom: 4px;

    ion-icon {
      width: 21px;
      height: 21px;
    }

    ion-label {
      margin-top: 2px;
      font-size: 10px;
    }
  }
}

.buttonAdd {
  width: 40px;
  height: 40px;
  min-height: 40px;

  flex: 0 0 40px;

  margin: 0 2px;

  --padding-start: 0;
  --padding-end: 0;
  --padding-top: 0;
  --padding-bottom: 0;

  --border-radius: 50%;

  ion-icon {
    font-size: 22px;
  }
}
